body {    
    place-items: center;
    background: linear-gradient(145deg, #b4c4ef, #a4b3e0);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

.auth-heading {
    margin-left: 20px;
}

.main-container {
    margin-top: 100px;
    width: 450px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.main-container .title{
    padding-top: 20px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.main-container form{
    padding: 10px 30px 50px 30px;
}

.main-container form span {
    color: red;
}

.main-container form .bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #4169E1;
}

.main-container form .text {
    height: 10px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

form .field input[type="submit"] {
    margin-top: -20px;
}