@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
}

a {    
    text-decoration: none;
    color: inherit;
}

.header-container {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #4169E1;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    height: 100%;
    /* margin-right: 30px; */
}

.links a {
    background-color: rgb(10, 213, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
}

.links a:nth-child(1) {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.links a:hover {
    transform: scale(1.005);
    background-color: rgb(5, 238, 172);
}

.flash-message p {
    text-align: right; 
    color: #31708f;
    background-color: #d9edf7;
    display: block;             
    font-weight: bold;
    padding: 12px 20px;
    margin: 0 0 10px 0;
    width: 100%;                
    box-sizing: border-box; 
}

.main-container form .field {
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.main-container form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.main-container form .field textarea {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    padding: 7%;
    outline: none;
    font-size: 15px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    cursor: text;
}

.main-container form .field select{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    cursor: pointer;
}

.main-container form .field label{
    position: absolute;
    top: 50%;
    left: 10px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:required:valid ~ label,
form .field textarea:focus ~ label,
form .field textarea:required:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #4169E1;
    background: #fff;
    transform: translateY(-50%);
}

form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: #4169E1;
}

form .field input[type="submit"]:hover {
    background: linear-gradient(45deg,#6585e8, #4169E1);
}