@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
}

a {    
    text-decoration: none;
    color: inherit;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #4169E1;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 1000; 
}

.links {
    display: flex;
    height: 100%;
    /* margin-right: 30px; */
}

.links a {
    background-color: rgb(10, 213, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
}

.links a:nth-child(1) {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.links a:hover {
    transform: scale(1.005);
    background-color: rgb(5, 238, 172);
}

.flash-message {
    position: absolute;
    top: 70px; 
    width: 100%;
    z-index: 1100;
}

.flash-message p {
    position: relative;
    text-align: right; 
    color: #31708f;
    background-color: #d9edf7;
    display: block;             
    font-weight: bold;
    padding: 12px 20px;
    margin: 0 0 10px 0;
    width: 100%;                
    box-sizing: border-box; 
}

.main-content {
    margin-top: 130px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 40px 20px;
    background-color: #f4f6fc;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.content-heading {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
}

.sub-content {
    margin-top: 10px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 40px 20px;
    background-color: #f4f6fc;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.left-section img {
    width: 210px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    flex: 1;
}

.right-section p {
    font-size: 16px;
    font-weight: 500;
    margin: 1px;
}

.info-text {
    flex-grow: 1;
}

.info-link {
    margin-top: auto;
    padding-top: 10px;
}

.info-link a {
    font-weight: 600;
    color: #4169E1;
}

.main-container form .field {
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.main-container form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.main-container form .field textarea {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    padding: 7%;
    outline: none;
    font-size: 15px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    cursor: text;
}

.main-container form .field select{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    cursor: pointer;
}

.main-container form .field label{
    position: absolute;
    top: 50%;
    left: 10px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:required:valid ~ label,
form .field textarea:focus ~ label,
form .field textarea:required:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #4169E1;
    background: #fff;
    transform: translateY(-50%);
}

form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: #4169E1;
}

form .field input[type="submit"]:hover {
    background: linear-gradient(45deg,#6585e8, #4169E1);
}