@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #4169E1;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}

.heading {
    margin-left: 20px;    
    font-weight: 600;
}

.links {
    margin-right: 30px;
}