.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a.logout {
    background-color: rgb(220, 98, 98);
    border-right: none;
}

.links a.logout:hover {
    background-color: rgb(239, 115, 115);
}

.menu-toggle {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.side-panel {
    position: fixed;
    top: 70px;
    left: -220px; 
    width: 220px;
    height: 100%;
    transition: left 0.3s ease;
    background-color: #4169E1; 
    z-index: 1200;
    /* padding-top: 20px; */
}

.side-panel.show {
    left: 0;
}

.side-panel a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.side-panel a:hover {
    background-color: #325cdb;
    cursor: pointer;
}

.main-container {
    margin-top: 100px;
    margin-left: 0;
    transition: margin-left 0.3s ease;
    padding: 20px;  
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body.side-panel-open .main-container {
    margin-left: 220px;
}

.data-table table, .data-table th, .data-table td {
    text-align: left;
    border-collapse: collapse;
}

.data-table table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.data-table .header-row {
    /* border-top: 3px solid grey; */
    background: #b7e0ed;
    background: linear-gradient(90deg, rgba(183, 224, 237, 1) 0%, rgba(155, 204, 179, 1) 100%);
}

.data-table tr:nth-child(odd) {
    background-color: rgb(203, 234, 243);
    /* background-color: rgb(196, 194, 194); */
}

.data-table tr:nth-child(even) {
    background-color: rgb(202, 237, 219);
    /* background-color: rgb(196, 194, 194); */
}

.data-table th, .data-table td {    
   padding: 15px;
   /* border-bottom: 3px solid grey; */
}

.data-table hr {
    border: 1px solid grey;
}