<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
</head>
<body>
     <div class="header-container">
        <div class="auth-heading">
           <a href="{{ url_for('home') }}">
                Vehicle Parking Application - V1<br>
                22f2001731
            </a>
        </div>
    </div>
    
     <div class="main-container">
            <div class="title">
                Reset Password
            </div>
            <form method="POST">
                <div class="field">
                    <input type="number" name="user_id" required>
                    <label for="user_id"><span>* </span>User ID</label>
                </div>
                <div class="field">
                    <input type="email" name="email" required>
                    <label for="email"><span>* </span>Email</label>
                </div>
                <div class="field">
                    <input type="password" name="new_password" required>
                    <label for="new_password"><span>* </span>New Password</label>
                </div>
                <br>
                <div class="field">
                    <input type="submit" value="Reset Password">
                </div>
                <div class="bottom">
                    <a href="{{ url_for('home') }}">Go Home</a>
                    <a href="{{ url_for('register') }}">Register</a>
                    <a href="{{ url_for('login') }}">Login</a>
                </div>
                <div class="text">
                    {% if invalid is defined %}
                        {% if invalid %}
                            <p style="color: red;">
                                Invalid credentials.
                            </p>
                        {% else %}
                            <p style="color: green;">
                                Password reset successful!
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
        </form>
    </div>
</body>
</html>